@import '~/styles/theme';

.match {
  width: 735px;
}

.status {
  width: 735px;
  box-sizing: border-box;
  padding: 8px;
  background: #eef8ff;
  border: 1px solid #7ba6c8;
  border-top: 0;
  font-family: $font-family;
  font-size: 12px;
  color: #003860;
}
